<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ackroll || HOME PAGE</title>
    <link rel="icon" type="image/x-icon" href="../static/images/logo.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="../static/images/logo.png" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://unpkg.com/lenis@1.1.13/dist/lenis.css">
    <link rel="stylesheet" href="../static/css/navbar.css" />
    <link rel="stylesheet" href="../static/css/index.css" />
</head>

<body>
    <button id="scrollTopBtn" class="scrollTopBtn" data-scroll data-scroll-sticky data-scroll-target="smoothContainer">
        <i class="fa-solid fa-angles-up"></i>
    </button>

    <div class="menu-container">
        <div class="menu-backdrop"></div>
        <div class="menu-contents">
            <div class="menu-close">
                <i class="fa-solid fa-times"></i>
            </div>
            <div class="menu-left-content">
                <div class="logo-menu">
                    <img src="../static/images/logo.png" alt="Ackroll Logo" style="height: 200px; width: auto" />
                </div>
                <div class="menu-text">
                    <h3>Ackroll Steels</h3>
                </div>
                <div class="social-links">
                    <h4>Get In Touch</h4>
                    <div class="socials">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
            <div class="menu-right-content">
                <div class="navigation-links">
                    <a href="#">
                        <h4>Home</h4>
                    </a>
                    <a href="#">
                        <h4>Inquiry</h4>
                    </a>
                    <a href="#">
                        <h4>Products</h4>
                    </a>
                    <a href="#">
                        <h4>Services</h4>
                    </a>
                    <a href="#">
                        <h4>About</h4>
                    </a>
                    <a href="#">
                        <h4>Registration</h4>
                    </a>
                    <a href="#">
                        <h4>Review Us</h4>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <header>
        <nav class="navbar">
            <a href="#"><img src="../static/images/logo_white.png" alt="Ackroll Steels" class="nav-logo" /></a>
            <a href="#">
                <div>Ackroll</div>
            </a>
            <div class="toggle-menu">
                <span>Menu</span>
                <img src="../static/images/logo.png" alt="Ackroll Menu">
            </div>
        </nav>
    </header>
    <section class="hero">
        <div class="hero-left-content">
            <h1 class="hero-left-title">Ackroll <br />Steel</h1>
            <div class="left-info-link">
                <a href="#">info@ackroll.net</a>
            </div>
            <div class="hero-right-overlay">
                <div class="right">
                    <h2 class="right-text">In<br />dus<br />try</h2>
                </div>
                <div class="social-right-hero">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </section>
    <section class="home-products" id="product-section">
        <div class="product-head">
            <h2>Our <br>Products</h2>
        </div>
        <div class="product-slider">
            <div class="product-slide">
                <div class="prod-img">
                    <img src="../static/images/pmp.jpg" alt="PMP (Plate Mill Plate) Sheets" />
                </div>
                <div class="prod-details">
                    <h3>PMP (Plate Mill Plate) Sheets</h3>
                    <p>We trade AM/NS India PMP (Plate Mill Plate) Sheets, known for their steel excellence.
                        These sheets,
                        meticulously rolled for consistent thickness and surface quality, showcase strength and
                        adaptability. They
                        find vital applications in construction and heavy industries, symbolising precision and
                        stability in steel.
                    </p>
                    <a href="#"><button>View More</button></a>
                </div>
            </div>
            <div class="product-more">
                <a href="#"><button>View All</button></a>
            </div>
        </div>
    </section>
    <section class="home-services">
        <div class="service-head">
            <h3>Our <br>Services</h3>
        </div>
        <div class="service-container">
            <div class="service-item">
                <div class="service-left">
                    <div class="counter"><span>00</span><span><svg width="50px" height="50px" viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M23 13H1v-2h22z" />
                                <path fill="none" d="M0 0h24v24H0z" />
                            </svg></span><span>01</span></div>
                    <div class="serv-item-head">
                        <h4>Slitting</h4>
                        <p>Slitting services in the steel industry use advanced machinery to precisely cut large coils
                            into narrower strips, ensuring high efficiency and minimal waste. These services offer
                            customization for various widths, thicknesses, and edge conditions. The result is
                            high-quality steel strips that meet diverse industrial needs and standards.</p>
                    </div>
                    <div class="btn-wrap-serv">
                        <img src="../static/images/service-btn-wrap.png" alt="Circle Designed Wrapper" class="rotate-img"
                            height="100px" width="100px">
                        <div class="serv-navigation">
                            <a href="#">View Services</a>
                        </div>
                    </div>
                </div>
                <div class="service-right">
                    <img src="../static/images/slitting.jpg" alt="Service Right" height="599px" width="599px">
                </div>
            </div>
            <!-- service item 1 above -->
            <div class="service-item">
                <div class="service-left">
                    <div class="counter"><span>01</span><span><svg width="50px" height="50px" viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M23 13H1v-2h22z" />
                                <path fill="none" d="M0 0h24v24H0z" />
                            </svg></span><span>02</span></div>
                    <div class="serv-item-head">
                        <h4>Cut To Length</h4>
                        <p>Cut-to-length services in the steel industry involve precisely cutting large steel coils into
                            custom-length sheets using advanced technology, ensuring high accuracy and minimal waste.
                            This service offers flexibility in sheet lengths, widths, and thicknesses to meet specific
                            industrial requirements.</p>
                    </div>
                    <div class="btn-wrap-serv">
                        <img src="../static/images/service-btn-wrap.png" alt="Circle Designed Wrapper" class="rotate-img"
                            height="100px" width="100px">
                        <div class="serv-navigation">
                            <a href="#">View Services</a>
                        </div>
                    </div>
                </div>
                <div class="service-right">
                    <img src="../static/images/cut_to_length.jpg" alt="Cut To Length" height="599px" width="599px">
                </div>
            </div>
            <!-- service item 2 above -->
            <div class="service-item">
                <div class="service-left">
                    <div class="counter"><span>02</span><span><svg width="50px" height="50px" viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M23 13H1v-2h22z" />
                                <path fill="none" d="M0 0h24v24H0z" />
                            </svg></span><span>03</span></div>
                    <div class="serv-item-head">
                        <h4>Deck Sheets</h4>
                        <p>Deck sheets, commonly used in construction and roofing, are strong, pre-fabricated steel
                            sheets designed for creating structural decks in buildings. They provide a robust,
                            load-bearing surface and are often used in combination with concrete to form floors and
                            roofs.</p>
                    </div>
                    <div class="btn-wrap-serv">
                        <img src="../static/images/service-btn-wrap.png" alt="Circle Designed Wrapper" class="rotate-img"
                            height="100px" width="100px">
                        <div class="serv-navigation">
                            <a href="#">View Services</a>
                        </div>
                    </div>
                </div>
                <div class="service-right">
                    <img src="../static/images/deck_sheets.jpg" alt="Deck Sheets" height="599px" width="599px">
                </div>
            </div>
            <!-- service item 3 above -->
            <div class="service-item">
                <div class="service-left">
                    <div class="counter"><span>03</span><span><svg width="50px" height="50px" viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M23 13H1v-2h22z" />
                                <path fill="none" d="M0 0h24v24H0z" />
                            </svg></span><span>04</span></div>
                    <div class="serv-item-head">
                        <h4>Wooden Pallete Packaging</h4>
                        <p>Wooden pallet packaging is a widely used method for transporting and storing goods. It
                            involves the use of wooden pallets, which are flat structures designed to support and
                            stabilize products during shipping and handling.</p>
                    </div>
                    <div class="btn-wrap-serv">
                        <img src="../static/images/service-btn-wrap.png" alt="Circle Designed Wrapper" class="rotate-img"
                            height="100px" width="100px">
                        <div class="serv-navigation">
                            <a href="#">View Services</a>
                        </div>
                    </div>
                </div>
                <div class="service-right">
                    <img src="../static/images/wooden_packaging.jpg" alt="Wooden Pallete Packaging" height="599px"
                        width="599px">
                </div>
            </div>
            <!-- service item 4 above -->
            <div class="service-item">
                <div class="service-left">
                    <div class="counter"><span>04</span><span><svg width="50px" height="50px" viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M23 13H1v-2h22z" />
                                <path fill="none" d="M0 0h24v24H0z" />
                            </svg></span><span>05</span></div>
                    <div class="serv-item-head">
                        <h4>Profiling & Corrugation</h4>
                        <p>Profiling and corrugation are processes used to shape metal sheets into specific profiles and
                            patterns, enhancing their strength and durability. Profiling creates custom cross-sections,
                            while corrugation introduces a wavy or ribbed pattern, often used in roofing and wall panels
                        </p>
                    </div>
                    <div class="btn-wrap-serv">
                        <img src="../static/images/service-btn-wrap.png" alt="Circle Designed Wrapper" class="rotate-img"
                            height="100px" width="100px">
                        <div class="serv-navigation">
                            <a href="#">View Services</a>
                        </div>
                    </div>
                </div>
                <div class="service-right">
                    <img src="../static/images/p_and_c.jpg" alt="Profiling & Corrugation" height="599px" width="599px">
                </div>
            </div>
            <!-- service item 5 above -->
            <div class="service-item">
                <div class="service-left">
                    <div class="counter"><span>05</span><span><svg width="50px" height="50px" viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M23 13H1v-2h22z" />
                                <path fill="none" d="M0 0h24v24H0z" />
                            </svg></span><span>06</span></div>
                    <div class="serv-item-head">
                        <h4>Z & C Purlin</h4>
                        <p>Z and C purlins are structural steel components used in building frameworks to support roof
                            and wall systems. Z purlins feature a Z-shaped profile, while C purlins have a C-shaped
                            profile, both providing strength and stability to the structure.</p>
                    </div>
                    <div class="btn-wrap-serv">
                        <img src="../static/images/service-btn-wrap.png" alt="Circle Designed Wrapper" class="rotate-img"
                            height="100px" width="100px">
                        <div class="serv-navigation">
                            <a href="#">View Services</a>
                        </div>
                    </div>
                </div>
                <div class="service-right">
                    <img src="../static/images/z_c_purlin.jpg" alt="Z & C Purlin" height="599px" width="599px">
                </div>
            </div>
            <!-- service item 6 above -->
        </div>
    </section>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
        integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"
        integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/lenis@1.1.13/dist/lenis.min.js"></script>
    <script src="../static/js/lenisScroll.js"></script>
    <script src="../static/js/navbarToggle.js"></script>
    <script src="../static/js/index.js"></script>
</body>

</html>